<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- id表示获取到对象标识
    	 class 创建哪个类的对象
     -->
    <!-- <bean id="people" class="com.pojo.People"/> -->
    <!-- <bean id="people" class="com.pojo.People">
    	ref引用另一个bean   value 基本数据类型或String等
    	<constructor-arg index="0" name="id" type="int" value="123"></constructor-arg>
    	<constructor-arg index="1" name="name" type="java.lang.String" value="张三"></constructor-arg>
	    <property name="id">
	    		<value>456</value>
	    	</property>
	    	<property name="name">
	    		<value>zhangsan</value>
	    	</property>
	    	<property name="sets">
	    		<set>
	    			<value>1</value>
	    			<value>2</value>
	    			<value>3</value>
	    			<value>4</value>
	    		</set>
	    	</property>
	    	<property name="list" value="1">
	    	</property>
	    	<property name="strs" >
	    		<array>
	    			<value>1</value>
	    			<value>2</value>
	    			<value>3</value>
	    		</array>
	    	</property>
	    	<property name="map">
	    		<map>
	    			<entry key="a" value="b" >
	    			</entry>
	    			<entry key="c" value="d" >
	    			</entry>
	    		</map>
	    	</property>
	    	
	    	<property name="demo">
	    		<props>
	    			<prop key="key">value</prop>
	    			<prop key="key1">value1</prop>
	    		</props>
	    	</property>
	    	
	    	<property name="desk" ref="desk"></property>
    </bean>
    
     <bean id="desk" class="com.pojo.Desk">
    	<property name="id" value="1"></property>
    	<property name="price" value="12"></property>
    </bean>
    
   	 实例工厂
    <bean id="peopleFactory" class="com.pojo.PeopleFactory"></bean>
    <bean id="peo1" factory-bean="peopleFactory" factory-method="newInstance"></bean>
   	
   	静态工厂 
    <bean id="peo2" class="com.pojo.PeopleFactory" factory-method="newInstanceStatic"></bean> -->
    
    <!-- 数据源封装类 .数据源:获取数据库连接,spring-jdbc.jar中-->
    <bean id="dataSouce" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
    	<property name="url" value="jdbc:mysql://localhost:3306/ssm"></property>
    	<property name="username" value="root"></property>
    	<property name="password" value="123456"></property>
    </bean>
    
    <!-- 创建SqlSessionFactory对象 -->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<!-- 数据库连接信息来源于dataSource -->
    	<property name="dataSource" ref="dataSouce"></property>
    </bean>
    
    <!-- 扫描器相当于mybatis.xml中 mappers下package标签,扫描com.bjsxt.mapper包后会给对应接口创建对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<!-- 要扫描哪个包 -->
    	<property name="basePackage" value="com.mapper"></property>
    	<!-- 和factory产生关系 -->
    	<property name="sqlSessionFactory" ref="factory"></property>
    </bean>
    
    <!-- 由spring管理service实现类 -->
    <bean id="airportService" class="com.service.impl.AirportServiceImpl">
    	<property name="airportMapper" ref="airportMapper"></property>
    </bean>
    
    <!-- 创建Service -->
    <bean id="usersService" class="com.service.impl.UsersServiceImpl">
    	<property name="usersMapper" ref="usersMapper"></property>
    </bean>
    
    <!-- 配置Demo 类,测试使用-->
    <bean id="demo" class="com.test.Demo"></bean>
    <bean id="demo1" class="com.test.Demo1"></bean>
    <bean id="myadvice" class="com.advice.MyAdvice"></bean>
    <bean id="mythrowadvice" class="com.advice.MyThrowAdvice"></bean>
    <!-- 配置通知类对象,在切面中引入-->
    <bean id="mybefore" class ="com.advice.MybeforeAdvice"></bean>
    <bean id="myafter" class ="com.advice.MyAfterAdvice"></bean>
    
    <!-- 配置切面-->
    <aop:config>
    
    	<!-- 通知-->
    	<!-- <aop:pointcut expression="execution(* com.test.*.*(..))" id="mypoint"/>
    	<aop:advisor advice-ref="mybefore" pointcut-ref="mypoint"/>
    	<aop:advisor advice-ref="myafter" pointcut-ref="mypoint"/> -->
    	<aop:aspect ref="mythrowadvice">
    		<!-- <aop:pointcut expression="execution(* com.test.Demo.demo1(String,int)) and args(name1,age1)" id="mypoint"/>
    		<aop:pointcut expression="execution(* com.test.Demo.demo1(String)) and args(name1)" id="mypoint1"/>
    		<aop:before method="mybefore" pointcut-ref="mypoint" arg-names="name1,age1"/>
    		<aop:before method="mybefore1" pointcut-ref="mypoint1" arg-names="name1"/> -->
    		<!-- <aop:after method="myafter" pointcut-ref="mypoint"/> -->
    		<!-- <aop:after-returning method="myaftering" pointcut-ref="mypoint"/>  -->
    		<aop:pointcut expression="execution(* com.test.Demo.demo1())" id="mypoint"/>
    		<aop:after-throwing method="myexception" pointcut-ref="mypoint" throwing="e"/>
    		<!-- <aop:around method="myarround"  pointcut-ref="mypoint"/> -->
    	</aop:aspect>
    </aop:config>
</beans>